
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="jumbotron">
    <h1>Admin page</h1>
    <p>This is the admin page. As an admin you are allowed to see all users in the database, as well as
    edit their information. Your user also has the privelege to give admin rights to other users.</p>
    <p>You can see all orders that are placed and delete them when necessary.</p>
    <p>You are allowed to see, edit and delete the products in the database. As well as adding new products.</p>

</div>

