@model List<nettButikkpls.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListProducts</title>
</head>
<div class="spacer">
    <div class="col-md-12">
        <div class="row">

            @foreach (var product in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4">

                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$@product.price</h4>

                            <h4>
                                <a href="#">@product.productname</a>
                            </h4>
                            <p>@product.category</p>
                        </div>
                        <a href="#" class="btn btn-primary btn-success" id="button" onclick="testClick('@product.productname') "><span class="glyphicon glyphicon-usd"></span> Buy Now!</a>
                    </div>
                </div>

            }
        </div>
        <a href="/Product/RegProduct">Registrer nytt produkt</a>

     
</html>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    function testClick(inn) {

        var url = "/Cart/SubmitSubscription";

        $.post(url, { Name: inn}, function (data) {

            console.log(data);

        });
        

    }



</script>
