@model nettButikkpls.Models.Product

@{
    ViewBag.Title = "ShowProduct";
}

<div class="spacer">
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">$@Model.price</h4>
                        <h4>
                            <a href="#">@Model.productname</a>
                    </h4>
                    <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    <p>
                        Want to make these reviews work? Check out
                        <strong>
                            <a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
                        </strong>over at maxoffsky.com!
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                
                        <div class="row">

                            <div class="col-md-2 pull-left">

                                <input type="text" class="form-control" value="1" id="@Model.productid">

                            </div>

                            <div class="col-md-6">

                                <a class="btn btn-primary btn-success" id="button" onclick="buyButton('@Model.productid') "><span class="glyphicon glyphicon-usd"></span> Buy Now!</a>

                            </div>

                            <div class="col-md-4 pull-right">

                                <div id="productbox_@Model.productid" class="hidden text-success"><i class="fa fa-check"></i> Added!</div>

                            </div>

                        </div>
                    
                    </div>

            </div>

        </div>

    </div>

</div>

</div>



@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    function buyButton(inn) {

        var quantity = document.getElementById(inn).value;

        var url = "/Orders/addToCart";

        $.post(url, { productid: inn, Quantity : quantity}, function (data) {});

        var id = "productbox_" + inn

        console.log(id)

        $("#" + id).removeClass("hidden");

        window.setTimeout(function () { $("#" + id).addClass("hidden"); }, 1500);
    }


    function goToProduct(id) {
        var url = "/Product/ShowProduct";
        $.post(url, { id: id }, function (data) {});

    }

</script>
