<!--//dash is not allowed here, use underscore-->


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <div class="form-group onehundred">
        <form action="/Customer/ValidateUser" method="post">
            <table>

                <tr><td>Email : </td><td><input type="text" name="Email" /></td></tr>
                <tr><td>Password : </td><td><input type="password" name="Password" /></td></tr>

                <tr><td><input type="submit" value="sign in" /></td></tr>
            </table>
        </form>
    </div>
</body>
