@model List<nettButikkpls.Models.Order>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOrders</title>
</head>
<body>
    <div> 
        @foreach (var order in Model)
        {
            <ul class="list-group fifty">

                <li class="list-group-item active">
                    <h2>@order.customerId @order.orderId</h2>
                </li>

                <li class="list-group-item">
                    pris: @order.sumtotal
                </li>
                <li class="list-group-item">
                    tid: @order.timestamp
                </li>
            </ul>

        }
    </div>
</body>
</html>
