
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addOrder</title>

</head>
<body>
    <div class="container">

       ORDER RECIEVED MADDAFAKKA

    </div>
</body>
</html>

