@model nettButikkpls.Models.Customers

<h2>Innlogging</h2>

<body>
    <div class="form-group onehundred">
        <form action="/Customer/ValidateUser" method="post">
            <table>
                <tr><td>Email</td><td><input type="text" name="Mail" /></td></tr>
                <tr><td>Password:</td><td><input type="password" name="Password" /></td></tr>
                <tr><td><input type="submit" value="Log in" name="login" /></td></tr>
            </table>
        </form>
    </div>
</body>