@model nettButikkpls.Models.Customer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reg</title>
</head>
<div class="spacer">
    <div> 
        <form action="/Customer/Reg" method="post">
            <table>
                <tr>
                    <td>E-postadresse : </td>
                    <td><input type="email" name="email" /></td>
                </tr>
                <tr>
                    <td>Fornavn</td>
                    <td><input type="text" name="firstname" /></td>
                </tr>
                <tr>
                    <td>Etternavn</td>
                    <td><input type="text" name="lastname" /></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td><input type="text" name="address" /></td>
                </tr>
                <tr>
                    <td>Postnummer</td>
                    <td><input type="text" name="zipcode" /></td>
                </tr>
                <tr>
                    <td>Poststed</td>
                    <td><input type="text" name="postalarea" /></td>
                </tr>
                <tr>
                    <td>Passord</td>
                    <td><input type="password" name="password" /></td>
                </tr>
            </table>
            <input type="submit" name="Reg" value="Registrer" />
            <a href="/Customer/List" >Vis oversikt over alle kunder</a>
            <a href="/Product/RegProduct">Vis oversikt over produkter</a>
        </form>
    </div>
</div>
</html>
