@{nettButikkpls.Models.Customer customer = (nettButikkpls.Models.Customer)HttpContext.Current.Session["CurrentUser"]; }


<div class="container">

    <div class="spacer">

        <ul class="list-group fifty">

            <li class="list-group-item active">
                <h2>User Profile</h2>
            </li>

            <li class="list-group-item">
                Mail address: @customer.email
            </li>
            <li class="list-group-item">
                First name: @customer.firstname
            </li>
            <li class="list-group-item">
                Last name: @customer.lastname
            </li>
            <li class="list-group-item">
                Address: @customer.address
            </li>

        </ul>
        <div>
            <a href="/Customer/Edit">Update user information</a>
            <a href="/Orders/ListOrders">List all orders</a>
        </div>

    </div>
</div>
