
@model Mvc_oblig.Models.Customer 
    
<!--//dash is not allowed here, use underscore-->


@{
    ViewBag.Title = "getAllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListAlleBrukere</title>
</head>
<body>
    <div>

   

    </div>
</body>
</html>

